
version: '3.7'

services:
  frontend:
    container_name: fullstack-learn-frontend
    build: 
      dockerfile: frontend.docker
      context: .
    volumes: 
      - ./frontend/src:/app/src
    ports:
      - 3000:3000
    env_file:
      - .env
  
  backend: 
    container_name: fullstack-learn-backend
    links: 
      - "db:postgres"
    depends_on:
      - db
    build:
      dockerfile: backend.docker
      context: .
    volumes:
      - ./backend/src:/app/src
    ports:
      - 8100:8100
    env_file:
      - .env

  db:
    container_name: fullstack-learn-db
    build:
      dockerfile: db.docker
      context: .
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_PORT: ${POSTGRES_PORT}
